#{extends 'main.html' /}
#{set title:'Tasks' /}


<input type="text" name="name" id="taskName">
<input type="button" id="addButton" name="add" value="Add">
<input type="button" id="deleteAllButton" name="deleteAll" value="Delete All""><br>

<ul id="tasksList">
	#{list tasks, as:'task'}
	
		#{if task.done == false}
			<li id="${task.id}"><input type="checkbox"> ${task.name}</li>
		#{/if}
		#{else}
			<li id="${task.id}"><input type="checkbox" checked> <strike>${task.name}</strike></li>
		#{/else}
		
	#{/list}

</ul>

<script type="text/javascript">

$(document).ready(function() {
	
	$('#addButton').click(function(event) {
		$.post(
			'@{Application.add}', 
			{ name: $('#taskName').val() }, 
			function(data) {
				$('ul#tasksList').append('<li id="' + data.id + '"><input type="checkbox"> ' + data.name + '</li>');
		});
	});
	
	$('#deleteAllButton').click(function(event) {
		$.post(
			'@{Application.deleteAll}', 
			function(data) {
				$('ul#tasksList').empty();
		});
	})
	
	$('input[type="checkbox"]').live('click', function(e) {
		checked = $(this).is(':checked');
		$(this).removeAttr('checked');
		$.post('@{Application.done}',
		{ id: $(this).parent().attr('id'), done: checked }, 
		function (data) {
			if (checked) {
				$('li#' + data.id).html('<li id="' + data.id + '"><input type="checkbox" checked> <strike>' + data.name + '</strike></li>');
			} else {
				$('li#' + data.id).html('<li id="' + data.id + '"><input type="checkbox"> ' + data.name + '</li>');
			}
		});
	});

});
	
</script>
